@model Shop.DTOs.CatalogDTOs.CategoryDTOs.CreateCategoryDTO

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
               
                <div class="bs-example" data-example-id="simple-table">
                    <form method="post">
                        <label> CategoryName</label>
                        <input type="text" class="form-control" asp-for="CategoryName">
                         <br/>
                         <button class="btn btn-primary">Add Category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

